
a:link, a:visited {
    text-align: center;
    text-decoration: none;
  }
#login button:hover,#login button:active{
    background-color:rgb(0, 126, 165);
}
#log a:hover,#log a:active{
    background-color:rgb(231, 231, 231);
}
#headbar{
    height: 15vh;
    margin: auto;
    grid-area: headbar;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
#logo{
    width:17%;
    height: 80%;
    margin-top: 1%;
    margin-left: 7%;
}
#drop{
    width:40%;
    height: 80%;
    margin-left: 10%;
    display:flex;
    margin-top: 2%;
}
#drop button{
    background-color: white;
}
#drop1{
    width:16%;
    height: 30%;
}
#drop2{
    width:16%;
    height: 30%;
}
#drop3{
    width:20%;
    height: 30%;
    margin-left: 2%;
}
#login{
    width:20%;
    height: 80%;
    margin-left: 10%;
    display: flex;
    font-family: sans-serif;
}
#en{
    width:20%;
    height:30%;
    margin-top: 10%;
}
#log{
    height:30%;
    margin-top: 10%;
    width:20%;
}

#login button{
    height: 45%;
    margin-top: 5%;
    font-size:17px;
    width:45%; 
    border-radius: 40px;
    border:white ;
    background-color:#0092ff;
}
#login a{
    color: white;
    font-size:17px;
}
#log a{
    color:black;
}
.dropbtn {
    color: gray;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    color:black;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    color:black;
    background-color: #ddd;
}
.show{
    display: block;
}
#dropbutton{
    height: 17%;
}
.arrow {
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
#hopebar>h1{
    border: white solid;
    width: 550px;
    margin-top: 200px;
    margin-left: 150px;
    font-size: 70px;
   
    color: rgb(20, 20, 133);
    }
    #hopebar>h2{
         border: white solid;
         width: 550px;
        margin-left: 150px;
       
        color: rgb(53, 53, 201); 
    }
    #hopebar>div{
        border: white solid;
        width: 550px;
        margin-left: 150px;
        float: left;
    }
    #hopebar>div:nth-child(1)>img{
        float:left;
        padding: 10px;
    }
    #hopebar>div:nth-child(1)>h3{
        float:left;
        padding: 10px;
    }
    #animation>div{
        border: white solid;
        width: 400px;
        height: 400px;
        float: left;
        margin-top: -500px;
        margin-left: 80px;
       
    }
    #animation>div>img{
        width: 100%;
    }
   
    .clear{
        clear: both;
    }
    #buildunique{
        border: rgb(226, 219, 226);
        width: 100%;
        background-color: rgb(226, 219, 226);
        height: 920px;
        float: left;
    }
    .left-box{
        border: rgb(226, 219, 226);
        margin: 150px;
        margin-top: 100px;
        width: 30%;
        float: left;
       
    }
    .left-box>h1{
        font-size: 50px;
        color:rgb(12, 12, 85)
     
     
    }
    .left-box>p{
        font-size: 20px;
        color:rgb(1, 1, 20)
       
       
    }
  
    .right-box{
        display: grid;
        margin-top: 100px;
        grid-template: "imgbar imgbar"
        "adaptablebar accessiblebar";
    }
    .imgbar{
        width: 80%;
        border: rgb(226, 219, 226);
        grid-area: imgbar;
    }
    .imgbar>img{
        width: 100%;
    }
    .adaptablebar{
        width: 60%;
        border: rgb(226, 219, 226);
        grid-area:adaptablebar;
    }
    .adaptablebar>h1{
        color: rgb(14, 14, 114);
    }
    .adaptablebar>p{
        color:rgb(1, 1, 20)
    }
    .accessiblebar{
        width: 60%;
        border: rgb(226, 219, 226);
        grid-area:accessiblebar;
    }
    .accessiblebar>h1{
        color: rgb(14, 14, 114);
    }
    .accessiblebar>p{
        color:rgb(1, 1, 20)
    }
    .clear{
        clear: both;
    }
    #testdrive{
        background-color:rgb(226, 219, 226) ;
        height: 200px;
        border: rgb(226, 219, 226);
    }
    #testdrive>div:nth-child(1){
        border: rgb(226, 219, 226);
        width: 40%;
        float: left;
        height: 150px;
        margin-top: 25px;
        margin-left: 200px;
    }
    #testdrive>div:nth-child(1)>h1{
        float: left;
        color:rgb(14, 14, 114);
    }
    #testdrive>div:nth-child(1)>img{
        float: left;
        width: 20%;
        margin:35px ;
        border-radius: 50%;
    }
    #testdrive>div:nth-child(2){
        border:rgb(226, 219, 226);
        width: 20%;
        height: 150px;
        margin-top: 25px;
        float: left;
        margin-left: 200px;
    }
    #testdrive>div:nth-child(2)>input{
        width: 90%;
        height: 50px;
        margin-top: 55px;
        margin-left: 10px;
        border-radius: 55px;
        background-color: rgb(28, 158, 209);
        color: white;
        font-size: 17px;
    }
    .clear{
        clear:both
    }
    .bighead> h1{
        font-size: 50px;
        text-align: center;
        color: rgb(14, 14, 114);
    }
   
     #agency{
         display: grid;
         grid-template-columns: 380px 380px 380px;
         grid-template-rows: 600px 600px;
         justify-content: center;
     }  
     #agency>div{
         background-color: tomato;
         border: turquoise solid;
         margin: 0.5px;
     }
     #agency>div:nth-child(1)>h3{
         width: 150px;
         height: 20px;
         border-radius: 5px;
         text-align: center;
         margin-left: 180px;
         background-color: white;

     }
     #agency>div:nth-child(1){
         background-color: rgb(231, 149, 163);
         border: rgb(231, 149, 163) solid;
     }
     #agency>div:nth-child(1)>img{
         height: 60%;
         margin-left: 70px;
     }
     #agency>div:nth-child(1)>p{
         text-align: center;
     }
     #agency>div:nth-child(1)>div>img{
         float: left;
         padding: 20px;
     }
     #agency>div:nth-child(1)>div>h2{
         float: left;
         font-size: 15px;
         padding-left: 30px;
     }
     #agency>div:nth-child(2)>h3{
        width: 150px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 180px;
        background-color: white;

    }
    #agency>div:nth-child(2){
        background-color: rgb(35, 160, 209);
        border: rgb(35, 160, 209) solid;
    }
    #agency>div:nth-child(2)>img{
        height: 60%;
        margin-left: 70px;
    }
    #agency>div:nth-child(2)>p{
        text-align: center;
    }
    #agency>div:nth-child(2)>div>img{
        float: left;
        padding: 20px;
    }
    #agency>div:nth-child(2)>div>h2{
        float: left;
        font-size: 15px;
        padding-left: 30px;
    }
    #agency>div:nth-child(3)>h3{
        width: 150px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 180px;
        background-color: white;

    }
    #agency>div:nth-child(3){
        background-color: rgb(11, 85, 114);
        border: rgb(11, 85, 114) solid;
    }
    #agency>div:nth-child(3)>img{
        height: 60%;
        margin-left: 70px;
    }
    #agency>div:nth-child(3)>p{
        text-align: center;
    }
    #agency>div:nth-child(3)>div>img{
        float: left;
        padding: 20px;
    }
    #agency>div:nth-child(3)>div>h2{
        float: left;
        font-size: 15px;
        padding-left: 30px;
    }
    #agency>div:nth-child(4)>h3{
        width: 150px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 180px;
        background-color: white;

    }
    #agency>div:nth-child(4){
        background-color: rgb(255, 255, 0);
        border: rgb(255, 255, 0) solid;
    }
    #agency>div:nth-child(4)>img{
        height: 60%;
        margin-left: 70px;
    }
    #agency>div:nth-child(4)>p{
        text-align: center;
    }
    #agency>div:nth-child(4)>div>img{
        float: left;
        padding: 20px;
    }
    #agency>div:nth-child(4)>div>h2{
        float: left;
        font-size: 12px;
        padding-left: 20px;
    }
    #agency>div:nth-child(5)>h3{
        width: 150px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 180px;
        background-color: white;

    }
    #agency>div:nth-child(5){
        background-color: rgb(2, 21, 29);
        border: rgb(2, 21, 29) solid;
    }
    #agency>div:nth-child(5)>img{
        height: 60%;
        margin-left: 70px;
    }
    #agency>div:nth-child(5)>p{
        text-align: center;
        color: white;
    }
    #agency>div:nth-child(5)>div>img{
        float: left;
        padding: 20px;
    }
    #agency>div:nth-child(5)>div>h2{
        float: left;
        font-size: 15px;
        padding-left: 30px;
    }
    #agency>div:nth-child(6)>h3{
        width: 150px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 180px;
        background-color: white;
       

    }
    #agency>div:nth-child(6){
        background-color: rgb(247, 243, 243);
        border:rgb(247, 243, 243) solid;
    }
    #agency>div:nth-child(6)>img{
        height: 60%;
        margin-left: 70px;
    }
    #agency>div:nth-child(6)>p{
        text-align: center;
    }
    #agency>div:nth-child(6)>div>img{
        float: left;
        padding: 20px;
    }
    #agency>div:nth-child(6)>div>h2{
        float: left;
        font-size: 15px;
        padding-left: 30px;
    }
    .clear{
        clear: both;
    }
    .bighead1{
        font-size:35px;
        text-align: center;
        color: rgb(14, 14, 114);
    }
    .bighead1>p{
        font-size:20px;
        text-align: center;
        color: rgb(53, 53, 141);
    }
    .bighead1>h4{
        font-size:20px;
        text-align: center;
        color: rgb(44, 157, 202);
    }
    #peoplecare{
        background-color: rgb(5, 69, 94);
        width: 80%;
        height: 500px;
        margin-left: 15%;
    }
    #peoplecare>div:nth-child(1)>img{
        margin-left: -40px;
        margin-top: 100px;
        float: left;
    }
    #peoplecare>div:nth-child(2){
      border: rgb(5, 69, 94);
      width: 40%;
      height: 350px;
      float: left;
      margin-top:150px;
      margin-left: 50px;
    }
    #peoplecare>div:nth-child(2)>h1{
       color: white;
       font-size: 40px;
    }
    #peoplecare>div:nth-child(2)>p{
       color: white;
    }
    #peoplecare>div:nth-child(3){
        width: 100%;
        background-color: rgb(226, 158, 226);
        height: 300px;
    }
    .clear{
        clear: both;
    }
    #marketing{
        width:100%;
        height: 450px;
        background-color: rgb(231, 171, 231);
        border:rgb(226, 171, 226) solid ;
    }
    #marketing>div:nth-child(1){
         border: rgb(224, 180, 224);
         width: 20%;
         height:250px ;
        margin-top:100px;
        margin-left: 250px;
        float: left;
    }
    #marketing>div:nth-child(1)>img{
     width: 100%;
    }
    #marketing>div:nth-child(2){
        border: rgb(224, 180, 224);
        width: 40%;
        height: 300px;
        float: left;
        margin-top:80px;
        margin-left: 50px;
    }
    #marketing>div:nth-child(2)>h1{
           font-size: 50px;
           color: rgb(14, 14, 114);
    }
    #marketing>div:nth-child(2)>input{
        width: 30%;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(28, 158, 209);
        color: white;
    }
    .clear{
        clear: both;
    }
    #sendblue{
        background-color: white;
        border: white solid;
        height: 100px;
    }
    #sendblue>div:nth-child(1){
        border: white solid;
        width: 30%;
        height: 50px;
        margin-top: 20px;
        margin-left: 80px;
        float: left;
    }
    #sendblue>div:nth-child(1)>img{
        width: 100%;
    }
    #sendblue>div:nth-child(2){
        border:white solid;
        width: 30%;
        height: 50px;
        float: left;
        margin-top: 20px;
        margin-left: 400px;
    }
    #sendblue>div:nth-child(2)>div:nth-child(1){
        width: 45px;
        height: 45px;
        border: white solid;
        border-radius: 50%;
        float: left;
        margin-left: 5px;
    }
    #sendblue>div:nth-child(2)>div:nth-child(1)>img{
             width: 100%;
    }
    #sendblue>div:nth-child(2)>div:nth-child(2){
        width: 45px;
        height: 45px;
        border: white solid;
        border-radius: 50%;
        float: left;
        margin-left: 10px;

    }
    #sendblue>div:nth-child(2)>div:nth-child(2)>img{
        width: 100%;
    }
    #sendblue>div:nth-child(2)>div:nth-child(3){
        width: 45px;
        height: 45px;
        border: white solid;
        border-radius: 50%;
        float: left;
        margin-left: 10px;

    }
    #sendblue>div:nth-child(2)>div:nth-child(3)>img{
        width: 100%;
    }
    #sendblue>div:nth-child(2)>div:nth-child(4){
        width: 45px;
        height: 45px;
        border: white solid;
        border-radius: 50%;
        float: left;
        margin-left: 10px;

    }
    #sendblue>div:nth-child(2)>div:nth-child(4)>img{
        width: 100%;
    }
    #sendblue>div:nth-child(2)>div:nth-child(5){
        width: 45px;
        height: 45px;
        border: white solid;
        border-radius: 50%;
        float: left;
        margin-left: 10px;

    }
    #sendblue>div:nth-child(2)>div:nth-child(5)>img{
        width: 100%;
    }
    #final-grid{
        display:grid;
        grid-template-columns: 350px 300px 300px 300px ;
        grid-template-rows: 250px  ;
        gap: 10px;
        justify-content: center;
    }
    #final-grid>div{
        border: white solid;
       /* margin-top: 100px; */

        
    }
    #final-grid>div:nth-child(1)>p{
       float: left;
   
        
    }
    #final-grid>div:nth-child(1)>img{
     width: 30%;
     float: left;
   }
   #final-grid>div:nth-child(1)>h3{
    /* width: 30%; */
     margin-left: 100px;
     color: rgb(44, 140, 179);
  }
    #final-grid>div:nth-child(2)>h2{
       
     color: rgb(18, 18, 71);
          
      }
      #final-grid>div:nth-child(3)>h2{
     
        color: rgb(18, 18, 71);
      }
      #final-grid>div:nth-child(4)>h2{
     
        color: rgb(18, 18, 71);
          
      }