body{
    background-color: #044a75;
}
#title{
    width: 40vh;
    height:5vh;
    margin: auto;
    margin-top: 4%;
}
#title img{
    width:90%;
    height: 100%;
    margin-left: 1%;
}
#login{
    width: 60vh;
    height:65vh;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    border-radius: 5px;
}
#reg{
    width: 50vh;
    height:5vh;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color:white;
}
form {
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
    font-size: 20px;
  background-color:#0092ff;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:5px;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
#login h1,h3{
    text-align: center;
}
h3{
    font-family: sans-serif;
}
.container {
    font-family: sans-serif;
}
#google{
    width:90%;
    height: 10%;
    margin:auto;
}
#google img{
    width:100%;
    height:100%;
}